.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 1vmin);
  font-family: 'Tahoma';
  color: white;
}
.sub{
  margin: -10px;
  padding:auto;
}

.App-link {
  color: #09d3ac;
}
